<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="@{'/public/images/favicon.png'}">

    <title>Zone membre</title>

    <!-- Bootstrap core CSS -->
    <link href="@{'/public/stylesheets/bootstrap.min.css'}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="@{'/public/stylesheets/offcanvas.css'}" rel="stylesheet">
    <script src="@{'/public/javascripts/inscription.js'}"></script>
    <link href="@{'/public/stylesheets/inscription.css'}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="@{'/public/javascripts/ie8-responsive-file-warning.js'}"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </div><!-- /.navbar -->

    <div class="container">

      <div class="row row-offcanvas row-offcanvas-right">

        
          
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
    #{ifErrors}
    <h2>Oops, please correct these errors</h2>
	#{/ifErrors}
	
	#{jQueryValidate class:models.Inscription.class, key:'user' /}
	
	#{form id:'inscriptionForm', action:@InscriptionAction.handleSubmit()}
			<h2>Please Sign Up <small>It's free and always will be.</small></h2>
			<hr class="colorgraph">
			<div class="row">
				<div class="col-xs-6 col-sm-6 col-md-6">
					<div class="form-group">
					       #{field 'user.firstName'}
					        <div class="field">         
					            <input id="${field.id}" type="text" name="${field.name}" 
					            value="${field.value}" class="${field.errorClass} form-control input-lg" placeholder="First Name" tabindex="1" />
					            <span class="error">${field.error}</span>
					        </div>
					        #{/field}
                         
					</div>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6">
					<div class="form-group">
						 #{field 'user.lastName'}
					        <div class="field">         
					            <input id="${field.id}" type="text" name="${field.name}" 
					            value="${field.value}" class="${field.errorClass} form-control input-lg" placeholder="Last Name" tabindex="2" />
					            <span class="error">${field.error}</span>
					        </div>
					        #{/field}					</div>
				</div>
			</div>
			<div class="form-group">
				          #{field 'user.username'}
					        <div class="field">         
					            <input id="${field.id}" type="text" name="${field.name}" 
					            value="${field.value}" class="${field.errorClass} form-control input-lg" placeholder="Username" tabindex="3" />
					            <span class="error">${field.error}</span>
					        </div>
					        #{/field}
			</div>
			<div class="form-group">
						#{field 'user.email'}
					        <div class="field">         
					            <input id="${field.id}" type="email" name="${field.name}" 
					            value="${field.value}" class="${field.errorClass} form-control input-lg" placeholder="Email Address" tabindex="4" />
					            <span class="error">${field.error}</span>
					        </div>
					        #{/field}
			</div>
			<div class="row">
				<div class="col-xs-6 col-sm-6 col-md-6">
					<div class="form-group">
						#{field 'user.password'}
					        <div class="field">         
					            <input id="${field.id}" type="password" name="${field.name}" 
					            value="${field.value}" class="${field.errorClass} form-control input-lg" placeholder="Password" tabindex="5" />
					            <span class="error">${field.error}</span>
					        </div>
					        #{/field}
					</div>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6">
					<div class="form-group">
					     #{field 'user.passwordConfirm'}
					        <div class="field">         
					            <input id="${field.id}" type="password" name="${field.name}" 
					            value="${field.value}" class="${field.errorClass} form-control input-lg" placeholder="Confirm Password" tabindex="6" />
					            <span class="error">${field.error}</span>
					        </div>
					        #{/field}
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-3 col-sm-3 col-md-3">
					<span class="button-checkbox">
						<button type="button" class="btn" data-color="info" tabindex="7">I Agree</button>
                        <input type="checkbox" name="t_and_c" id="t_and_c" class="hidden" value="1">
					</span>
				</div>
				<div class="col-xs-9 col-sm-9 col-md-9">
					 By clicking <strong class="label label-primary">Register</strong>, you agree to the <a href="#terms" data-toggle="modal" data-target="#t_and_c_m">Terms and Conditions</a> set out by this site, including our Cookie Use.
				</div>
			</div>
			
			<hr class="colorgraph">
			<div class="row">
				<div class="col-xs-6 col-md-6"><input type="submit" value="Register" class="submit btn btn-primary btn-block btn-lg" tabindex="7"></div>
				<div class="col-xs-6 col-md-6"><a href="#" class="btn btn-success btn-block btn-lg">Sign In</a></div>
			</div>
			
		#{/form}
	
</div>


        </div><!--/span-->

      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; Company 2013</p>
      </footer>

    </div><!--/.container-->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="offcanvas.js"></script>
  </body>
</html>
